.overlayhg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);

    .dialog_Container {
        width: 500px;
        height: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgb(45, 143, 138);
        padding: 12px;
        border-radius: 10px;

        @media (max-width: 570px) {
            width: 400px;

            @media (max-width: 450px) {
                width: 350px;

                @media (max-width: 380px) {
                    width: 280px;
                }
            }
        }

        .photo_big {
            @media (max-width: 570px) {
                @media (max-width: 380px) {
                }
            }

            .img_Dialog {
                left: 20%;
                width: 280px;
                height: 250px;
                object-fit: cover;
                border-radius: 10px;
                filter: drop-shadow(2px 3px 4px #000000);

                @media (max-width: 570px) {
                    width: 220px;
                    height: 200px;

                    @media (max-width: 380px) {
                        width: 180px;
                        height: 160px;
                    }
                }
            }
        }

        /*#region type color*/

        .fairy {
            width: 500px;
            height: 250px;
            background-color: #6f03d4;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                    }
                }
            }
        }

        .ground {
            width: 500px;
            height: 250px;
            background-color: rgb(82, 43, 43);

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }

        .electric {
            width: 500px;
            height: 250px;
            background-color: #123bee;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }

        .poison {
            width: 500px;
            height: 250px;
            background-color: #711a7a;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }

        .bug {
            width: 500px;
            height: 250px;
            background-color: #4b4b4b;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }

        .normal {
            width: 500px;
            height: 250px;
            background-color: #bebb05;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }

        .fire {
            width: 500px;
            height: 250px;
            background-color: #e06812;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }
        .water {
            width: 500px;
            height: 250px;
            background-color: #45a5ff;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }
        .grass {
            width: 500px;
            height: 250px;
            background-color: #78c850;

            @media (max-width: 570px) {
                width: 400px;
                height: 220px;

                @media (max-width: 450px) {
                    width: 350px;

                    @media (max-width: 380px) {
                        width: 280px;
                        height: 180px;
                    }
                }
            }
        }
        /*#endregion */

        .title_cont {
            display: flex;
            align-items: center;
            justify-content: center;

            .title_Name {
                text-transform: capitalize;
                height: 28px;
                font-size: 20px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.863);
            }

            .close {
                width: 26px;
                height: 26px;
                cursor: pointer;
            }
        }


        .photo {
            width: 200px;
            height: 180px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            filter: drop-shadow(2px 3px 4px #000000);
        }


        .type {
            filter: drop-shadow(1px 1px 2px #000000);
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 12px;
            }
        }
       
 /*#region details*/
        .details {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0 15px;

            @media (max-width: 570px) {
                font-size: 16px;

                @media (max-width: 380px) {
                }
            }

            button {
                display: inline;
                width: 100%;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid rgb(6, 212, 168);
                margin-right: 4px;
                text-decoration: none;
                background-color: #0e7074;
                color: white;
                cursor: pointer;
                transition: background-color 0.3s ease, box-shadow 0.3s ease,
                    transform 0.1s ease;
            }

            button:hover {
                background-color: #13a0a5;
                box-shadow: 0 0 8px rgba(6, 212, 168, 0.6);
            }

            button:active {
                background-color: #0b5e61;
                transform: scale(0.98);
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            }

            button:focus {
                outline: none;
                box-shadow: 0 0 0 3px rgba(6, 212, 168, 0.5);
            }
        }

        #specialInfo {
            width: 100%;
            height: 140px;
            padding: 0 32px;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.863);
        }

        span {
            text-transform: capitalize;
        }
    }

    .stats-container {
        height: 220px;

        @media (max-width: 570px) {
            font-size: 18px;

            @media (max-width: 380px) {
            }
        }

        .stat-item {
            display: flex;
            justify-content: space-between;
            padding: 4px 8px;
            background-color: #919191;
            border-radius: 4px;
            margin-bottom: 5px;
        }

        .stat-name {
            font-weight: regular;
        }

        .stat-value {
            color: #333;
        }
        /*#endregion */

        /*#region navi*/

        #navi_dialog {
            top: 85px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.863);

            @media (max-width: 570px) {
            }

            #backbutton {
                width: 50px;
                height: 50px;
                cursor: pointer;
            }

            #forwardbutton {
                height: 50px;
                cursor: pointer;
            }
        }
        /*#endregion */
    }
