* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: "Single Day", sans-serif;
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
}

section {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    
}

.content_Container {
    max-width: 1920px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(71, 3, 3);
    
}


.poke_Container {
    display: flex;
    flex-direction: column-reverse;
    justify-content:flex-end;
    width: 200px;
    height: 350px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: rgb(94, 81, 46);
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
    


    .poke_Container:hover {
        box-shadow: 2px 2px 4px 3px grey;ow(0, 2, 2, 3 rgb(255, 255, 255));
    }
}

.name_Info {
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
